<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Receitas</title>
    <link th:rel="stylesheet" th:href="@{assets/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{assets/css/style.css}">
    <link th:rel="icon" type="imagem/ico" th:href="@{assets/imagens/ico.ico}"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/index}">Home</a>
        </div>
    </div>
</nav>

<div id="main" class="container-fluid">
    <h3 class="page-header">Receita</h3>
    <div class="row">
        <div class="col-md">
            <p><strong> </strong></p>
        </div>
        <div class="col-md-4">
            <p><strong>Imagem Id:
                <th:block th:text="${mealItem.idMeal}">[mealItem.idMeal]</th:block>
            </strong></p>
            <img class="img-fluid" width="80%" th:src="${mealItem.strMealThumb}">
            <p class="col-sm-1"></p>
        </div>
        <div class="col-md">
            <p><strong> </strong></p>
        </div>
        <div class="col-md-5">
            <div class="col-md">
                <p><strong></strong></p>
            </div>
            <p><strong>Instruções de cozimento</strong></p>
            <p th:text="${mealItem.strInstructions}"></p>
            <div class="row">
                <div class="col-md-4">
                    <p><strong>Área</strong>
                        <th:block th:text="${mealItem.strTags}">[mealItem.strTags]</th:block>
                    </p>
                </div>
                <div class="col-md-4">
                    <p><strong>Categoria</strong>
                        <th:block th:text="${mealItem.strCategory}">[mealItem.strCategory]</th:block>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p><strong></strong></p>
    <p><strong></strong></p>
    <p><strong></strong></p>
    <div id="actions" class="row">
        <div class="col-md-12">
            <a th:href="@{/}" class="btn btn-primary">Voltar</a>
        </div>
    </div>
    <hr/>
</div>
<script th:href="@{https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js}"></script>
<script th:href="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
<script th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
</body>
</html>